div(class="overview-container")
	h2 Project Overview
	table(class="table table-hover")
		tbody
			tr
				th Project Name: 
				td(id="project-name") #{projName}
			tr
				th Project Key: 
				td #{projKey}
			tr
				th Project ID: 
				td #{projId}
			tr
				th Project Administrator: 
				td #{projAdmin}
	button(id="btn-proj-list" class="btn btn-primary btn-md" type="submit") List Project
	form(action="deleteproject/" method="POST")
		button(id="btn-proj-del" class="btn btn-primary btn-md" type="submit") Delete Project 
		
	h2 Project History
	table(class="table table-hover")
		tbody
			each hist in history.reverse()
				tr
					td #{hist['date']} : #{hist['action']} #[a(href='t/' + hist['link'] +'/') #{hist['link']}] #{hist['description']}
