div(class="overview-container")
    h2 Project Overview
    table(class="table table-hover")
        tbody
            tr
                th Project Name:
                td #{projName}
            tr
                th Project Repository:
                td #[a(href=full_url) #{full_url}]
            tr
                th Project Description:
                td #{description}
    h2 Project History
    div
        each hist in history.reverse()
            div #{hist['date']} : #{hist['action']} #[a(href='t/' + hist['link'] +'/') #{hist['link']}] #{hist['description']}
