div(class="overview-container")
    h2 Project Overview
    table(class="table table-hover")
        tbody
            tr
                th Project Name:
                td #{projName}
            tr
                th Project Repository:
                if full_url.length==0
                    td No GitHub repository found!
                else
                    td #[a(href='https://github.com/'+full_url) #{"https://github.com/"+full_url}]
            tr
                th Project Description:
                td #{description}
    h2 Project History
    div
        if history.length == 0
            p No History Found. Create your first task #[a(data-toggle="modal" href="#task-modal" onclick="Page.Project.taskCreateLoad();") here!] 
        each hist in history.reverse()
            div #{hist['date']} : #{hist['action']} #[a(href='t/' + hist['link'] +'/') #{hist['link']}] #{hist['description']}
