div(style="margin-top: 158px;")
div(class="navbar-fixed-top kanban-board-header")
    div(class="row kanban-board-row kanban-board-row-header")
        each status in statuses
            div(class="kanban-col-header")
                div(class="kanban-col-header-text") #{status}
div(class="container-fluid kanban-board")
    div(class="row kanban-board-row")
        div(class="kanban-col")
            each task in tasks1
                div(class="kanban-task")
                    a(href="t/"+task.taskid+"/" class="kanban-task-header") #{task.taskid+': '+task.taskname}
                    div(class="kanban-task-body") #{task.taskdescription}
                    div(class="kanban-task-tags") Issue Priority: #{task.priority}
                    div(class="kanban-task-tags") Assignee: #{task.assignedto}
        div(class="kanban-col")
            each task in tasks2
                div(class="kanban-task")
                    a(href="t/"+task.taskid+"/" class="kanban-task-header") #{task.taskid+': '+task.taskname}
                    div(class="kanban-task-body") #{task.taskdescription}
                    div(class="kanban-task-tags") Issue Priority: #{task.priority}
                    div(class="kanban-task-tags") Assignee: #{task.assignedto}
        div(class="kanban-col")
            each task in tasks3
                div(class="kanban-task")
                    a(href="t/"+task.taskid+"/" class="kanban-task-header") #{task.taskid+': '+task.taskname}
                    div(class="kanban-task-body") #{task.taskdescription}
                    div(class="kanban-task-tags") Issue Priority: #{task.priority}
                    div(class="kanban-task-tags") Assignee: #{task.assignedto}
        div(class="kanban-col")
            each task in tasks4
                div(class="kanban-task")
                    a(href="t/"+task.taskid+"/" class="kanban-task-header") #{task.taskid+': '+task.taskname}
                    div(class="kanban-task-body") #{task.taskdescription}
                    div(class="kanban-task-tags") Issue Priority: #{task.priority}
                    div(class="kanban-task-tags") Assignee: #{task.assignedto}
