extends ./partials/base.jade

block bodyContent 
    div(class="row")
        div(class="col-xs-4 col-xs-offset-2" style="padding-top:24px")
            div(id="rune-icon-profile-" + userColor)
                img(class="roo-icon-profile" src="/images/Roo.svg")
                div(class="initials-icon-profile") 
                    p=initials
            div
                h2=fullname
                h4=email
                ul(class="nav nav-stacked")
                    li
                        div(class="btn-group")
                            //form(action="" method="POST")
                            //    button(type="submit" class="btn btn-primary") Save Profile
                            form(action="delete/" method="POST")
                                button(type="submit" class="btn btn-primary") Delete Profile                                
            div(style="padding-top:48px")                              
                div(class="panel panel-primary" style="max-width:400px")
                    div(class="panel-heading" style="text-color=white")
                        |My Projects
                    div(class="panel-content")
                        table(class="table table-hover")
                            if myProjects
                                each proj in myProjects 
                                    tr
                                        td(class="text-center")
                                            |#[a(href="/p/" + proj['projectid'] + '/') #{ proj['projectkey']}]
                                        td(class="text-center")
                                            |#{proj['projectname']}
                            else
                                tr
                                    td(class="text-center")
                                        You have no projects! 
        form(action="" method="POST")
            div(class="col-sm-4" style="padding-top:24px; margin-left:-20px")
                div(class="profile-description") Description
                    textarea(class="profile-form-control-description" type="text" rows="4" name="description" placeholder="I haven\'t entered my description!") #{description} 
                div(class="profile-github") GitHub
                    input(class="profile-form-control-github" type="text" name="github" placeholder="I haven\'t entered my GitHub!" value=github)
                div(class="profile-edit-button")
                    button(type="submit" class="btn btn-primary") Save Profile
         
