h3 Enter your github project repository by entering the username followed by the repository name

form(action="" method="POST")
    input(type="text" name="repo_owner" placeholder="rzeng95")
    input(type="text" name="repo_name" placeholder="rune")
    button(type="submit") Search
    
hr

p=errorMessage 

if results 
    each result in results
        p Commit: #[a(href=url+result['sha']) #{ result['sha'] } ]
        p Author: #{result['commit']['author']['name']}  ( #{result['commit']['author']['email']} )
        p Description: #{result['commit']['message']} 
        hr
