extends ./partials/base.jade

block bodyContent
    div(class="profile-container")
        div(class="row")
            div(class="col-xs-4 col-xs-offset-2")
                div(class="profile-el" id="rune-icon-profile-"+userColor)
                    img(class="roo-icon-profile" src="/images/Roo.svg")
                    div(class="initials-icon-profile") 
                        p=initials
                div(class="profile-el")
                    h2=fullname
                    h4=email
                    if !isEdit
                        if isMe
                            a(type="button" class="btn btn-primary" href="edit/") Edit Profile
                        else 
                            ul(class="nav nav-stacked")
                                li
                                    div(class="btn-group")
                                        button(class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#") Add to Project
                                            span(class="glyphicon glyphicon-menu-right")
                                        ul(class="dropdown-menu" style="top: 0;left: 100%;")
                                            each proj in projList
                                                li #[a(href="adduser/"+proj['projectid']) #{ proj['projectkey'] }]
                    else
                        ul(class="nav nav-stacked")
                            li
                                div(class="btn-group")
                                    form(class="profile-delete-form" action="delete/" method="POST")
                                        button(type="submit" class="btn btn-primary") Delete Profile
                div(class="profile-el")
                    div(class="panel panel-primary")
                        div(class="panel-heading")
                            | My Projects
                        div(class="panel-content")
                            table(class="table table-hover")
                                if myProjects
                                    each proj in myProjects 
                                        tr
                                            td(class="text-center")
                                                | #[a(href="/p/" + proj['projectid'] + '/') #{ proj['projectkey']}]
                                            td(class="text-center")
                                                | #{proj['projectname']}
                                else
                                    tr
                                        td(class="text-center")
                                            You have no projects!
            if !isEdit
                div(class="col-xs-4")
                    div(class="profile-el")
                        div(class="panel panel-primary")
                            div(class="panel-heading")
                                | Description
                            div(class="panel-content")
                                div(class="profile-el") #{description}
                    div(class="profile-el")
                        div(class="panel panel-primary")
                            div(class="panel-heading")
                                | Skills
                            div(class="panel-content")
                                div(class="profile-el") #{skills}
                    div(class="profile-el")
                        div(class="panel panel-primary")
                            div(class="panel-heading")
                                | GitHub Profile
                            div(class="panel-content")
                                if (github == '#')
                                    div(class="profile-el") I haven't linked my GitHub!
                                else
                                    a(href="#{github}")
                                        div(class="profile-el text-center") #{github}
                            if githubProjectList
                                div(class="panel-heading")
                                    | GitHub Projects
                                div(class="panel-content")
                                    table(class="table table-hover")
                                        each i in [0,1,2,3,4]
                                            tr
                                                td(class="text-center")
                                                    a(href=githubProjectList[i]['html_url']) #{githubProjectList[i]['name']}
            else
                div(class="col-xs-4")
                    form(action="" method="POST")
                        div(class="profile-el")
                            div(class="panel panel-primary")
                                div(class="panel-heading")
                                    | Description
                                textarea(class="profile-form-control-description" type="text" rows="5" name="description" placeholder="I haven\'t entered my description!") #{description}
                        div(class="profile-el")
                            div(class="panel panel-primary")
                                div(class="panel-heading")
                                    | Skills
                                textarea(class="profile-form-control-description" type="text" rows="3" name="skills" placeholder="Add your skills here!") #{skills}
                        div(class="profile-el profile-edit-button")
                            button(type="submit" class="btn btn-primary") Save Profile
                    hr
                    div(class="profile-el profile-github")
                        div(class="panel panel-primary")
                            div(class="panel-heading")
                                | GitHub Profile
                            div(class="panel-content")
                                if (githubUrl == '#')
                                    div(class="profile-el") I haven't linked my GitHub!
                                else
                                    a(href="#{githubUrl}")
                                        div(class="profile-el text-center") #{githubUrl}                        
                    form(action="/auth/github/" method="GET")
                        div(class="profile-el profile-github-button")
                            button(type="submit" class="btn btn-primary") Link With My Github!
block scripts
    script(src="/javascripts/profile.js")
