extends ./partials/base.jade

block bodyContent 

    div(class="container-fluid")
        div(class="row")
            div(class="col-xs-4 col-xs-offset-2" style="padding-top:24px")
                div(id="rune-icon-profile-" + userColor)
                    img(class="roo-icon-profile" src="/images/Roo.svg")
                    div(class="initials-icon-profile") 
                        p=initials

                div
                    h2=fullname
                    h4=email
                    if isMe
                        a(type="button" class="btn btn-primary" href="edit/") Edit Profile
                    else 
                        ul(class="nav nav-stacked")
                            li
                                div(class="btn-group")
                                    button(class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#") Add to Project 
                                        span(class="glyphicon glyphicon-menu-right")
                                    ul(class="dropdown-menu" style="top: 0;left: 100%;")
                                        each proj in projList
                                            li #[a(href="adduser/"+proj['projectid']) #{ proj['projectkey'] }]
                div(style="padding-top:48px")                              
                    div(class="panel panel-primary" style="max-width:400px")
                        div(class="panel-heading" style="text-color=white")
                            |My Projects
                        div(class="panel-content")
                            table(class="table table-hover")
                                if myProjects
                                    each proj in myProjects 
                                        tr
                                            td(class="text-center")
                                                |#[a(href="/p/" + proj['projectid'] + '/') #{ proj['projectkey']}]
                                            td(class="text-center")
                                                |#{proj['projectname']}
                                else
                                    tr
                                        td(class="text-center")
                                            You have no projects! 

            div(class="col-sm-4" style="padding-top:24px")
                p=description
                p=github
        div(class="row") 
            div(class="col-xs-12" style="background-color:green") El Divider
        div(class="row" style="margin:5px")
        div(class="row")
            div(class="col-xs-8")
            div(class="col-xs-2")
                input(type="text" class="form-control" placeholder="Filter" name="project-skills-filter")
            div(class="col-xs-1")
        div(class="row")
            div(class="col-xs-1")
            div(class="col-xs-10")
                table(class="task-list" style="table-layout:fixed")
                    col(class="project-name")
                    col(class="project-leader")
                    col(class="project-description")
                    col(class="project-size")
                    col(class="project-skills")
                    col(class="project-apply-button")
                    thead(class="task-list-header")
                        tr
                            th Project Name
                            th Project Leader
                            th Description
                            th Group Size
                            th Skills
                            th  
                    tbody(class="task-list-body")
                        tr
                            td(class="task-id-element")
                                a(href="") Rune
                            td(class="task-id-element") 
                                a(href="") Roland Zeng
                            td(class="task-id-element" style="word-wrap:break-word") Rune is a dank m...
                            td(class="task-id-element") 7
                            td(class="task-id-element")
                                span HTML, CSS, Javascript 
                            td(class="task-id-element")
                                button(id="submit" type="submit" class="btn btn-primary" style="width:100px") Apply
                        tr
                            td(class="task-id-element")
                                a(href="") Boba
                            td(class="task-id-element") 
                                a(href="") BobaKing69
                            td(class="task-id-element" style="word-wrap:break-word") Boba boba!!!
                            td(class="task-id-element") 420
                            td(class="task-id-element")
                                span Python, Ruby, Boba
                            td(class="task-id-element")
                                button(id="submit" type="submit" class="btn btn-primary" style="width:100px") Apply
            div(class="col-xs-1")
                  


 

          
