extends ./partials/base.jade

block bodyContent 

    div(class="container-fluid")
        div(class="row")
            div(class="col-xs-4 col-xs-offset-2" style="padding-top:24px")
                div(id="rune-icon-profile-" + userColor)
                    img(class="roo-icon-profile" src="/images/Roo.svg") hi
                    div(class="initials-icon-profile") 
                        p=initials

                div
                    h2=fullname
                    h4=email
                    if isMe
                        button(type="button" class="btn btn-primary" disabled) Add to Project
                    else 
                        ul(class="nav nav-stacked")
                            li
                                div(class="btn-group")
                                    button(class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#") Add to Project 
                                        span(class="glyphicon glyphicon-menu-right")
                                    ul(class="dropdown-menu" style="top: 0;left: 100%;")
                                        each proj in projList
                                            li #[a(href="adduser/"+proj['projectid']) #{ proj['projectkey'] }]
                div(style="padding-top:48px")                              
                    div(class="panel panel-primary" style="max-width:400px")
                        div(class="panel-heading" style="text-color=white")
                            |My Projects
                        div(class="panel-content")
                            table(class="table table-hover")
                                if myProjects
                                    each proj in myProjects 
                                        tr
                                            td(class="text-center")
                                                |#[a(href="/p/" + proj['projectid'] + '/') #{ proj['projectkey']}]
                                            td(class="text-center")
                                                |#{proj['projectname']}
                                else
                                    tr
                                        td(class="text-center")
                                            You have no projects! 

            div(class="col-sm-4" style="padding-top:24px")
                if myProjects
                    each proj in myProjects
                        each task in proj.tasks
                            div(class="panel panel-success")
                                div(class="panel-heading" style="text-color=white")
                                    |#[a(href="/p/"+proj['projectid']+'/' class="kanban-task-header") #{task.taskid+' '+task.taskname}]
                                div(class="panel-content")
                                    table(class="table table-striped")
                                        tr
                                            th(class="text-right col-md-4")
                                                | Task Description
                                            td(class="col-md-8")
                                                | #{task.taskdescription}
                                        tr
                                            th(class="text-right col-md-4")
                                                | Issue Priority: 
                                            td(class="col-md-8")
                                                | #{task.priority}
                                        tr
                                            th(class="text-right col-md-4")
                                                | Assigned To
                                            td(class="col-md-8")
                                                | #{task.assignedto}
                                        tr
                                            th(class="text-right col-md-4")
                                                | Status: 
                                            td(class="col-md-8")
                                                | #{task.status}
