extends ./partials/base.jade

block bodyContent 
    div(class="row")
        div(class="col-sm-12")
            h2 Project Finder
            table(class="project-finder-table") 
                thead
                    tr
                        th Project Name
                        th Project Leader
                        th Members
                        th Description
                        th Skills
                        th 
                tbody
                    each proj in projects
                        tr
                            td(class="project-finder-name") 
                                div(class="project-finder-name-text") 
                                    b #{proj.name}
                            td(class="project-finder-leader")
                                div(id="rune-icon-kanban-" + proj.color)
                                    img(class="roo-icon-kanban" src="/images/Roo.svg")
                                    div(class="initials-icon-kanban") #{proj.initials}
                                    if proj.link == '#'
                                        div(class="project-finder-user-name") #{proj.leader}]
                                    else
                                        div(class="project-finder-user-name") #[a(href='#{proj.link}') #{proj.leader}]
                            td(class="project-finder-members") 
                                div(class="project-finder-members-text") #{proj.size}
                            td(class="project-finder-description") 
                                div(class="project-finder-description-text") #{proj.description}  
                            td(class="project-finder-skills") 
                                div(class="project-finder-skills-text") #{proj.projectskills}
                            td(class="project-finder-button")
                                form(action="apply/" method="post")
                                    if proj.disabled
                                        button(name="project" type="submit" class="btn btn-primary" style="width:80px" disabled) Pending
                                    else
                                        button(name="project" type="submit" class="btn btn-primary" style="width:80px" value='#{proj.projectid}') Apply
