div(class="container-fluid task-body")
    div(class="task-create")
        form(class="form-group" action="edit/" method="POST")
            h2(class="form-signin-heading") Edit Task
            div(class="form-group")
                label(for="taskname") Task Name
                input(class="form-control" type="text" name="taskname" placeholder="Task Name" value=taskname required="required")
            div(class="form-group")
                label(for="taskdescription") Task Description
                textarea(class="form-control" rows="4" name="taskdescription" placeholder="Description" required="required") #{taskdescription}
            div(class="form-group")
                label(for="assignedto") Assign to
                select(class="form-control" name="assignedto")
                    each user in usersList
                        option( selected=(user['email']==curAssignee) value= user['email'] ) #{user['name']} -- #{user['email']}
            div(class="form-group")
                label(for="status") Status
                select(class="form-control" name="status")
                    each status in statuses
                        option( selected=(status==curStatus) ) #{status}
            div(class="form-group")
                label(for="priority") Priority
                select(class="form-control" name="priority")
                    each priority in ['High', 'Medium', 'Low']
                        option( selected=(priority==curPriority) )= priority
            div(class="row btn-submit")
                button(class="col-xs-5 btn btn-primary" type="submit") Edit Task
                button(class="col-xs-5 col-xs-offset-2 btn btn-secondary" type="button" data-dismiss="modal") Cancel
