div(class="row task-header")
    div(class="col-xs-12")
        h4 #{projName} (#{projKey})
    div(class="col-xs-12")
        h2 #{taskid}: #{taskname}
div(style="margin-top: 103px;")
div(class="task-body")
    div(class="row")
        div(class="col-xs-8")
            h4 Description
            table(class="table")
                tbody
                    tr
                        td #{taskdescription}
                    tr
                        td
            h4 Comments
            table(class="table")
                tbody
                    each comnt in comments
                        tr
                            div(class="panel panel-default" )
                                div(class="panel-heading" style="text-align: right") #[a(href='/u/'+comnt.authorid+'/') #{comnt.authorname}] added a comment on #{comnt.date}
                                div(class="panel-body") #{comnt.comment}
                                if comnt.github
                                    div(class="panel-footer") #[a(href='https://github.com/'+ github_owner + '/' + github_repo + '/commit/'+comnt.github) GitHub - #{ comnt.github } ]
                                    

            form(class="form-group" action="comment/" method="POST")
                label Add Comment 
                textarea(class="form-control" name="comment" id="comment" rows="3")
                if commits
                    label Optional - Add Github Commit 
                    select(class="form-control" name="githubcommit")
                        option(value="") N/A
                        each commit in commits
                            option(value="#{commit['sha']}") #{commit['commit']['author']['name']} - #{commit['commit']['message']} 
                button(class="btn btn-primary" type="submit") Submit

        div(class="col-xs-4")
            h4 Details
            div(class="task-tags")
                table(class="table")
                    tbody
                        tr
                            td Assignee:
                            td #{curAssignee}
                            td
                        tr
                            td Priority:
                            td
                                div(class="kanban-priority-icon-" + curPriority)
                                    div(class="priority-icon")
                                    div(class="priority-text") #{curPriority}
                            td
                        tr
                            td
                                a(class="btn btn-primary" role="button" data-toggle="modal" href="#task-modal" onclick="Task.taskEditLoad()") Edit Task
                            td
                                form(action="delete/" method="post")
                                    button(class="btn btn-primary" type="submit") Delete Task
                        tr
                            if completed
                                td
                                    form(action="archive/" method="post")
                                        button(class="btn btn-primary" type="submit" onclick="if (!confirm('Are you sure?')) return false;") Archive
                            else if archived
                                td
                                    form(action="unarchive/" method="post")
                                        button(class="btn btn-primary" type="submit" onclick="if (!confirm('Are you sure?')) return false;") Unarchive
                            else
                                td
                            td
