div(class="row task-header")
    div(class="col-xs-12")
        h4 #{projName} (#{projKey})
    div(class="col-xs-12")
        h2 #{taskid}: #{taskname}
div(style="margin-top: 103px;")
div(class="task-body")
    div(class="row")
        div(class="col-xs-8")
            h4 Description
            table(class="table")
                tbody
                    tr
                        td #{taskdescription}
                    tr
                        td
            h4 Comments
            table(class="table")
                tbody
                    each comnt in comments
                        tr
                            td #{comnt.author}
                            td #{comnt.comment}

            form(class="form-group" action="comment/" method="POST") 
                <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
                button(class="btn btn-primary" type="submit") Submit

        div(class="col-xs-4")
            h4 Details
            div(class="task-tags")
                table(class="table")
                    tbody
                        tr
                            td Assignee:
                            td #{curAssignee}
                            td
                        tr
                            td Priority:
                            td
                                div(class="kanban-priority-icon-" + curPriority)
                                    div(class="priority-icon")
                                    div(class="priority-text") #{curPriority}
                            td
                        tr
                            td
                                a(class="btn btn-primary" role="button" data-toggle="modal" href="#task-modal" onclick="Task.taskEditLoad()") Edit Task
                            td
                                form(action="delete/" method="post")
                                    button(class="btn btn-primary" type="submit") Delete Task
                        tr
                            if completed
                                td
                                    form(action="archive/" method="post")
                                        button(class="btn btn-primary" type="submit" onclick="if (!confirm('Are you sure?')) return false;") Archive
                            else if archived
                                td
                                    form(action="unarchive/" method="post")
                                        button(class="btn btn-primary" type="submit" onclick="if (!confirm('Are you sure?')) return false;") Unarchive
                            else
                                td
                            td
